@charset "UTF-8";

*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #80e7f6dc,#B8FFE2);
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #207d8b9a;
}
h1{
    color: #2EFF3C;
    text-align: center;
    text-shadow: 1px 1px 2px #1f99279f;
}
h2{
    color: #92AFB3;
}
p{
    text-align: justify;
}